/*
* Custom Dracula theme
*/

#window {
    opacity: 0.9;
    border:  0px;
    border-radius: 10px;
    font-family: hack;
    font-size: 18px;
}

#input {
	border-radius: 10px 10px 0px 0px;
    border:  0px;
    padding: 10px;
    margin: 0px;
    font-size: 28px;
	color: #FFFFFF;
	background-color: #bd93f9;
}

#inner-box {
	margin: 0px;
	color: #FFFFFF;
	background-color: #282a36;
}

#outer-box {
	margin: 0px;
	background-color: #bd93f9;
    border-radius: 10px;
}

#selected {
	background-color: #bd93f9;
}

#entry {
	padding: 0px;
    margin: 0px;
	background-color: #282a36;
}

#scroll {
	margin: 5px;
	background-color: #282a36;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}
